.header {
  text-align: center;
  font-style: italic;
  font-family: 'Courier New';
  font-size: 70px;
  padding: 20px;
  margin-top: -10px;
  margin-right: -5px;
  margin-left: -5px;
  background-color: darkgray;

}

html {
  position: relative;
  background-color: darkblue;
}

h2{
  text-align: center;
  color: white;

}

h4{
  text-align: center;
  color:red;

}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 30px;
}

#Number1, #Number2, #Number3, #Number4, #Number5 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  padding: 25px;
  
}

#Submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  width: 29%;
}

.Answer {
  text-align: center;
  padding: 20px;
  margin-top: 60px;
  margin-right: -5px;
  margin-left: -5px;
  background-color: darkgray;
}